<div style="clear: both"></div>
<div class="fanye" >
    <a href="javascript:void(0)" class="fanye_a" ng-show="grid.hasPrePage();" ng-click="grid.firstPage()">首页</a>
    <a href="javascript:void(0)" class="fanye_c" ng-show="!grid.hasPrePage();">首页</a>
    <a href="javascript:void(0)" class="fanye_a" ng-show="grid.hasPrePage();" ng-click="grid.prePage()">上一页</a>
    <a href="javascript:void(0)" class="fanye_c" ng-show="!grid.hasPrePage();">上一页</a>
    <a href="javascript:void(0)" class="fanye_a" ng-show="grid.hasNextPage();" ng-click="grid.nextPage()">下一页</a>
    <a href="javascript:void(0)" class="fanye_c" ng-show="!grid.hasNextPage();">下一页</a>
    <a href="javascript:void(0)" class="fanye_a" ng-show="grid.hasNextPage();" ng-click="grid.lastPage()">末页</a>
    <a href="javascript:void(0)" class="fanye_c" ng-show="!grid.hasNextPage();">末页</a>
</div>