<!--右边内容-->
<div class="right_nr">
    <div class="jp_tishi">温馨提示：也许有人与您在同一时间段，预订该会场，您预订后，请随时关注我们的反馈信息。</div>
    <div class="yj_top"></div>
    <div class="hc_bg">
        <table width="98%" border="0" align="center" cellpadding="10" cellspacing="0" class="biaoge2">
            <tr>
                <td width="100" align="right">会场名称：</td>
                <td>{{meeting.name}}</td>
                <td>目前状态：
                    <span ng-show="meeting.state==1" class="alv">空闲。</span>
                    <span ng-show="meeting.state==2" class="ahong">使用中。</span>
                    <!--<span class="alan">（至2014-07-30下午空闲）</span>-->
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">会场照片：</td>
                <td colspan="2" align="left"><img ng-src="{{contextPath + meeting.imgUrl}}" width="300" height="140" alt=""/></td>
            </tr>
            <tr>
                <td align="right" valign="top">会场说明：</td>
                <td colspan="2" valign="top">{{meeting.description}}</td>
            </tr>
        </table>
        <div class="jp_btn"><a href="#/meeting/apply/submit/{{meeting.id}}"><img src="images/front/btn_03.png"/></a></div>
    </div>
    <div class="yj_down"></div>
</div>
</div>