<div style="clear: both"></div>
<div class="fy">
    <a href="javascript:void(0)"><img ng-click="grid.firstPage()" src="images/front/btn_fy_01.png" style="margin-right:20px;"/></a>
    <a href="javascript:void(0)"><img ng-click="grid.prePage()" src="images/front/btn_fy_02.png" style="margin-right:20px;"/></a>
    <a href="javascript:void(0)"><img ng-click="grid.nextPage()" src="images/front/btn_fy_03.png" style="margin-right:20px;"/></a>
    <a href="javascript:void(0)"><img ng-click="grid.lastPage()" src="images/front/btn_fy_04.png"/></a>
</div>
