<!--右边内容-->
<div class="right_nr">
    <div class="nr_lan">
        <form name="meetingForm" role="form">
            <div class="nr_bq">{{title}}</div>
            <div class="nr_tj"></div>
            <div class="cp_list">
                <ul class="form-group">
                    <li>
                        <label>会场名称:</label>
                        <input type="text" name="name" ng-model="meeting.name" validator="required" >
                    </li>
                    <li>
                        <label>容纳人数:</label>
                        <input type="text" name="personNum" ng-model="meeting.personNum" validator="required, number" >
                    </li>
                    <li>
                        <label>所在楼层:</label>
                        <input type="text" name="floor" ng-model="meeting.floor" validator="required" >
                    </li>
                    <li>
                        <label>会场说明:</label>
                        <textarea rows="3" name="description" ng-model="meeting.description" ></textarea>
                    </li>
                    <li>
                        <label>上传图片:</label>
                        <input type="file" nv-file-select uploader="uploader"/>
                        <span ng-show="uploader.isUploading"> 正在上传图片，请稍候... </span>
                        <div style="margin: 10px 0 0 80px;">
                            <img ng-show="meeting.imgUrl" ng-src="{{contextPath + meeting.imgUrl}}" style="width: 200px; height: 180px; border: none;">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="fanye">
                <input type="image" src="images/admin/btn_09.png" validation-submit="meetingForm" ng-click="submit()">
            </div>

        </form>
    </div>
</div>
<!--右边结束-->
<div class="clear"></div>