<!--右边内容-->
<div class="right_nr">
    <div class="nr_lan">
        <div class="nr_bq">未处理订单</div>
        <div class="nr_tj"></div>
        <table width="98%" border="0" align="center" cellpadding="10" cellspacing="0" class="biaoge4">
            <tr>
                <td style="text-align: left;">申请时间：{{meetingApply.applyTime|$date}}</td>
            </tr>
            <tr>
                <td style="text-align: left;">申&nbsp;请&nbsp;人：{{meetingApply.applyUserName}}</td>
            </tr>
            <tr>
                <td style="text-align: left;">使用时间：{{meetingApply|useDateText}}</td>
            </tr>
            <tr>
                <td style="text-align: left;">使用会场：{{meetingApply.meetingName}}</td>
            </tr>
            <tr>
                <td style="text-align: left;">参会人数：{{meetingApply.personNum}}</td>
            </tr>
            <tr>
                <td style="text-align: left;">配套服务：{{meetingApply.meetingServiceList|meetingServiceText}}</td>
            </tr>
            <tr>
                <td style="text-align: left;">备注说明：<pre>{{meetingApply.remark}}</pre></td>
            </tr>
            <tr>
                <td style="text-align: left;" class="ahong">
                    驳回申请：
                    <textarea style="width:99%; height:100px; margin-top: 8px;" ng-model="applyResult"></textarea>
                </td>
            </tr>
        </table>
        <div class="fanye">
            <a href="javascript:void(0)" ng-click="submit(MeetingApplyStatus.SUCCESS)"><img src="images/admin/btn_15.png" style=" margin-right:20px;"/></a>
            <a href="javascript:void(0)" ng-click="submit(MeetingApplyStatus.FAIL)"><img src="images/admin/btn_14.png"/></a>
        </div>
        <br>
    </div>
</div>
<!--右边结束-->
<div class="clear"></div>