<!--右边内容-->
<div class="right_nr">
    <div class="nr_lan">
        <div class="nr_bq">未处理订单</div>
        <div class="nr_tj">日期查找:
            <quick-datepicker ng-model='date'></quick-datepicker>
            预订人:
            <input type="text" style="width:100px;" ng-model="applyUserName">
            <button type="button" ng-click="query()">查询</button>
        </div>

        <table style="width: 98%;" cellpadding="10" cellspacing="0" align="center" class="biaoge4">
            <thead>
            <tr>
                <th>申请时间</th>
                <th>申请说明</th>
                <th>申请人</th>
                <th>会场</th>
                <th>使用时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in grid.data">
                <td>{{x.applyTime|$date}}</td>
                <td style="text-align: left;">{{x.remark}}</td>
                <td>{{x.applyUserName}}</td>
                <td>{{x.meetingName}}</td>
                <td>{{x|useDateText}}</td>
                <td class="caozuo">
                    <img src="images/admin/btn_10.png" ng-click="process(x.id)"/>
                </td>
            </tr>
            </tbody>
        </table>

        <div pagination grid="grid"></div>

    </div>
</div>
<!--右边结束-->
<div class="clear"></div>
